<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shoping Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">products</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/cart">cart</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link disabled"></a>
                </li>
            </ul>
            <form class="d-flex" role="search"  data-bs-theme="dark">
                <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success " type="submit">Search</button>
            </form>
            {{#if user}}
            <div class="dropdown px-2 dropdown-sm">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{user.Name}}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something </a></li>
                </ul>
            </div>
            {{else}}
            {{>login}}
            {{/if}}
        </div>
    </div>
</nav>