<div class="container">
  <div class="row flex-column flex-md-row">
    <h4 class="mt-3 .text-primary-emphasis">Cart Items {{cartCount}}</h4>

    <div class="  col-lg-7 col-md-10 order-2 order-md-1  " data-bs-spy='scroll'>
      <div class="overflow-scroll" style="height: 80vh; w">


        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img class=".img-fluid  " style="max-width:50vh;" src="https://www.costco.co.kr/medias/sys_master/images/h86/hec/98343120011294.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class=".img-fluid  " style="max-width:50vh;" src="https://th.bing.com/th/id/OIP.hl8gUODDEJAm16R9z5GwWwAAAA?rs=1&pid=ImgDetMain"
                class="d-block w-100" alt="...">
            </div>
            <div class="align-self-center carousel-item ">
              <div class="align-self-center ">

                <img class=".img-fluid  " style="max-width:50vh;"  src="https://th.bing.com/th/id/OIP.zAg--Pn6z1aoc_J3A5yvawAAAA?rs=1&pid=ImgDetMain" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

          <!-- Thumbnails -->
          <div class="d-flex mt-2 ">
            <div class="thumbnail-item " data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active">
              <img src="./product-images/s23.png"
                class="d-block w-100 shadow rounded" alt="...">
            </div>
            <div class="thumbnail-item" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1">
              <img src="./product-images/s23.png"
                class="d-block w-100" alt="...">
            </div>
            <div class="thumbnail-item " data-bs-target="#carouselExampleInterval" data-bs-slide-to="2">
              <img src="./product-images/s23.png"
                class="d-block w-100" alt="...">
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class=" col p-0  col-lg-4 col-md-10 order-1 order-md-2 ">
      <div class="m-0 mt-lg-2 mt-md-2  rounded-3 border ps-0 p-3 ">
        <div class="container">

          <h4> Subtotal</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <p class="fw-normal mb-0">Item</p>
                </th>
                <th scope="col">
                  <p class="fw-normal mb-0">Quantity</p>
                </th>
                <th scope="col">
                  <p class="fw-normal mb-0">Price</p>
                </th>
                <th scope="col">
                  <p class="fw-normal mb-0">Total</p>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <td>{{this.Name}}</td>
                <td>{{this.Qty}}Qty</td>
                <td>{{this.Price}}</td>
                <td>$40.00</td>
              </tr>
              {{/each}}

              <!-- Add more rows for additional items in the cart -->
            </tbody>
          </table>
          <h6>Your Cart Summary : $55.00</h6>
          <div class="row ">
            <div class="d-grid mt-3">
              <button class="btn btn-success btn-sm">Checkout</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<style>
  ::-webkit-scrollbar {
    width: 10px;
  }
</style>